<div class="container">
  <div class="form">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2> Sistema de Cadastro de Associados </h2>
        <form id="formLogin" method="POST" (ngSubmit)="onSubmit()"  #formLogin="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" id="login" name="login" 
                  [(ngModel)]="user.login" required />
            </div>
            <div class="col-sm-12">
              <input type="password" id="password" name="password" 
                  [(ngModel)]="user.password" required />
            </div>
            <div class="col-sm-12">
              <button class="btn btn-default" [disabled]="!formLogin.valid">
                Entrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>