.container {
    display: flex;
    font-size: 14px;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.form {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.panel {
    padding: 15px;
    margin: 90px auto;
}

.panel-body {
    text-align: left;
    width: 600px !important;
}

.panel h2 {
    font-size: 28px !important;
    margin: 25px 0px;
}

/* form */
input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

select {
    height: 35px;
}

button {
    width: 100%;
}

.btn {
    background-color:#008599;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover, .btn:active {
    background-color: #3fb7c6;
    color: #FFFFFF;
}

.col-sm-12 {
    margin-bottom: 5px;
}

.col-sm-8 {
    padding-left: 0px;
}

.col-sm-4 {
    padding-right: 0px;
}

.agency {
    padding-left: 0px;
}

.count {
    padding-right: 0px;
}