<div class="container">
  <div class="form">
    <div class="panel panel-default">
      <div class="panel-body"> 
        <h2> Cadastro de Associados </h2>
        <form id="formCad" method="POST"  #formCad="ngForm" (ngSubmit)="onSubmit()">
          <div class="row">
            
            <div class="col-sm-12">
              <label for="sel1">Tipo de Associado</label>
              <select class="form-control" id="sel1" 
              (change)="option($event.target.value)" required >
                <option value="" disabled></option>
                <option value="responsible">Responsável</option>
                <option value="dependent">Dependente</option>
              </select>
            </div>
            
            <div id="dependent" class="col-sm-12">
              <label for="sel1">Associado responsável</label>
              <select class="form-control" id="id_responsible" 
              name="id_responsible">
              <option value="" disabled></option>
                <option>Exemplo Pessoa</option>
              </select>
            </div>
            
            <div class="col-sm-12">
                <label for="name">Nome</label>
                <input type="text" id="name" name="name" 
                [(ngModel)]="associate.name" required />
            </div>
            
            <div class="col-sm-12">
                <label for="cpf">CPF</label>
                <input  id="cpf" name="cpf" 
                 [(ngModel)]="associate.cpf" 
                [textMask]="{mask: maskCpf}" required />
            </div>

            <div class="col-sm-12">
                <div class="col-sm-6">
                    <label for="city">Telefone</label>
                    <input  id="phone1" name="phone1" 
                    [textMask]="{mask: maskPhone}" 
                    [(ngModel)]="associate.phone1"  required />
                </div>
                <div class="col-sm-6">
                    <label for="state">Celular</label>
                    <input  id="phone2" name="phone2" 
                    [(ngModel)]="associate.phone2" 
                    [textMask]="{mask: maskCellphone}" required />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-5">
                    <label for="zip_code">CEP</label>
                    <input  id="zip_code" name="zip_code" 
                     [(ngModel)]="associate.zip_code" 
                     onblur="consultCEP(this.value);"
                    [textMask]="{mask: maskCep}" required />
                </div>
            </div>

            <div class="col-sm-12">
              <div class="col-sm-8">
                  <label for="street">Rua</label>
                  <input  id="street" name="street" 
                  [(ngModel)]="associate.street"  required />
              </div>
              <div class="col-sm-4">
                  <label for="number">Nº</label>
                  <input  id="number" name="number" 
                  [(ngModel)]="associate.number"  required />
              </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-8">
                    <label for="city">Cidade</label>
                    <input  id="city" name="city" 
                    [(ngModel)]="associate.city"  required />
                </div>
                <div class="col-sm-4">
                    <label for="state">Estado</label>
                    <select class="form-control" id="state" name="state" required
                        [(ngModel)]="associate.state" >
                        <option [value]="state.uf" 
                        *ngFor="let s of state">{{ s.uf }}</option>
                      </select>
                </div>
            </div>

            <div id="bank">
                <div class="col-sm-6">
                    <label for="bank">Banco</label>
                    <input  id="bank" name="bank" 
                    [(ngModel)]="responsible.bank" />
                </div>
                
                <div class="col-sm-12">
                    <div class="col-sm-6 agency">
                        <label for="agency">Agência</label>
                        <input  id="agency" name="agency" 
                        [(ngModel)]="responsible.agency" />
                    </div>
                    <div class="col-sm-6 count">
                        <label for="count">Conta</label>
                        <input  id="count" name="count" 
                        [(ngModel)]="responsible.count" />
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <!--[disabled]="!formCad.valid"-->
                <button  class="btn btn-default" >
                  Cadastrar
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>