footer {
    background-color: #009BB3 !important;
    bottom: 0; 
    clear: both;
    margin-top: 5%;
    min-height: 40px;
}
.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    vertical-align: middle;
}
.row {
    margin: 0 auto;
}
.text {
    color: #FFFFFF !important;
    font-size: 14px;
}