.navbar {
    align-items: center;
    background-color: #009BB3;
    color:#fff;
    position: fixed;
    width: 100%;
    z-index: 10;
}

li a {
    color: #FFFFFF !important;
    font-size: 18px !important;
    font-weight: 700;
}

.logout {
    cursor: pointer;
}