<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="logout" (click)="logout()" >
          <i class="fas fa-sign-out-alt"></i>Sair
        </a>
      </li>
    </ul>
  </div>
</nav>